{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post" class="d-flex justify-content-center gap-2">
        <select required class="form-select w-auto" name="symbol" autofocus>
            <option value="" selected>Symbol</option>
            {% for ticker in portfolio %}
                <option value="{{ ticker['ticker'] }}">{{ ticker['ticker'] }}</option>
            {% endfor %}
        </select>
        <input required autocomplete="off" class="form-control w-auto" name="shares" placeholder="Shares to sell" type="number">
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}