<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">

    <title>OrduyLap: {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <a href="/">OrduyLap</a>
      <nav>
        {% if session["user_id"] %}
          <ul>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        {% else %}
          <ul>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block body %}
      
      {% endblock body %}
    </main>
    <footer>
      Copyright &#169; 2026 <a href="https://www.github.com/ferchorduy" target="_blank">Fernando Orduy</a>
    </footer>
  </body>
</html>