<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">

    <title>OrduyLap: {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">OrduyLap</a>
        <ul>
          <li><a href="#"></a>Sessions</li>
          <li><a href="#"></a>How to Use</li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>