{% extends "layout.html" %}

{% block title %}
  Workout
{% endblock %}

{% block body %}
  <div class="exercise">
    <select name="exercise">
      <option value="">Select exercise</option>
      <option value="push-up">Push Up</option>
      <option value="pull-up">Pull Up</option>
      <option value="squat">Squat</option>
    </select>
    <input type="number" placeholder="Enter total reps">
  </div>
  <button>+</button>
  <input type="number" placeholder="Enter minutes">
  <button>Start workout</button>
{% endblock body %}