* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    text-align: center;
    color: rgba(191, 155, 111, 0.892);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    color: inherit;
}

a, p {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgba(152, 122, 84, 0.892);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

svg path {
    fill: rgba(191, 155, 111, 0.892);  
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}